.teams-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
  
.team-row-blue {
    display: flex;
    justify-content: space-evenly;
    border: blue 2px solid;
    padding: 5px;
    margin-bottom: 5px
}

.team-row-red {
    display: flex;
    justify-content: space-evenly;
    border: red 2px solid;
    padding: 5px;
    margin-top: 5px;
}